html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #1f1f1f;
}

.container#upgrades-container {
    max-width: 1200px;
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-areas:
        "zero-zero zero-zero zero-zero zero-zero"
        "one-zero two-zero three-zero four-zero"
        "zero-one zero-two zero-three zero-four";
    justify-content: center;
}

.card {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 8px;
}

.card h2 {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.card .stat-input {
    margin-bottom: 10px;
}

.card .stat-input label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #f1f1f1;
}

.card .stat-input input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
    border-radius: 4px;
}

.card .stat-input input:focus {
    border-color: #6a0dad;
    /* Purple focus color */
    outline: none;
}

.card.zero-zero {
    grid-area: zero-zero;
}

.card.one-zero {
    grid-area: one-zero;
}

.card.two-zero {
    grid-area: two-zero;
}

.card.three-zero {
    grid-area: three-zero;
}

.card.four-zero {
    grid-area: four-zero;
}

.card.zero-one {
    grid-area: zero-one;
}

.card.zero-two {
    grid-area: zero-two;
}

.card.zero-three {
    grid-area: zero-three;
}

.card.zero-four {
    grid-area: zero-four;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    color: #9b4dff;
}

.upgrade-input {
    margin-bottom: 15px;
}

.upgrade-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f1f1f1;
}

.upgrade-input input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

.upgrade-input input:focus {
    border-color: #9b4dff;
    outline: none;
}

.stat-inputs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #2c2c2c;
    border: 1px solid #444444;
    border-radius: 5px;
    color: #ffffff;
}

.result h2 {
    margin-top: 0;
}

.result p {
    margin: 5px 0;
}

button {
    background-color: #9b4dff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #7a3be3;
}